$pitch-sans-directory-name: "PitchSans";
$pitch-sans-filename:       "PitchSansApp";
$pitch-sans-filepath:       "../../../assets/fonts/#{$pitch-sans-directory-name}/";

@font-face {
  font-display: swap;
  font-family: PitchSans;
  font-style: normal;
  font-weight: 600;
  src: url("#{$pitch-sans-filepath}/#{$pitch-sans-filename}-Bold.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: PitchSans;
  font-style: italic;
  font-weight: 600;
  src: url("#{$pitch-sans-filepath}/#{$pitch-sans-filename}-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: PitchSans;
  font-style: normal;
  font-weight: 400;
  src: url("#{$pitch-sans-filepath}/#{$pitch-sans-filename}-Regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: PitchSans;
  font-style: italic;
  font-weight: 400;
  src: url("#{$pitch-sans-filepath}/#{$pitch-sans-filename}-RegularItalic.ttf") format("truetype");
}
