@import "./../../../../variables.scss";

.more-projects{
    .project-col{
        padding: 10px;
        height: 400px;

        .more-project-box {
            box-shadow: 0 10px 30px -15px rgba(2,12,27, .7);
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            padding: 20px;
            height: 100%;
            border-radius: 3px;
            transition: all 0.25s cubic-bezier(.645, .045, .355, 1);
            background-color: $solidWhite;
            cursor: pointer;

            &:hover {
                transform: translateY(-5px);
            }
            &:hover,
            &:focus {
                box-shadow: 0 20px 30px -15px rgba(2,12,27, .7);
            }

            svg {
                width: 20px;
                height: 20px;
                color: $globalTertiary;
            }

            .other-project-title {
                margin: 0 0 10px;
                font-size: 22px;
                color: $globalTertiary;
            }

            .other-project-description {
                font-size: 17px;
                font-weight: $font-weight-light;
                color: $darkestGrey;
            }

            .more-projects-skills {
                align-items: flex-end;
                display: flex;
                flex-grow: 1;
                flex-wrap: wrap;
                list-style: none;
                margin: 20px 0 0 0;
                padding: 0;

                li {
                    color: $darkestGrey;
                    font-family: $fixedWidthFont;
                    font-size: 12px;
                    line-height: 1.75;
                    margin-right: 15px;

                    .underline {
                        padding-bottom: 3.5px;
                    }
                }
            }
        }
    }
}


@media(max-width: 1300px){
    .more-projects{
        .project-col{
            height: auto;
        }
    }
}
