<footer>
    <div [@animateFooter]="">
        <ul class="footer__left-bar">
            <li>
                <a target="_blank"
                   title="Visit my personal GitHub profile"
                   [href]='("AboutMe.Github" | translate)'
                   (click)='analyticsService.sendAnalyticEvent("click_github", "footer", "github")'>
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a target="_blank"
                   title="View my LinkedIn profile"
                   [href]='("AboutMe.Linkedin" | translate)'
                   (click)='analyticsService.sendAnalyticEvent("click_linkedin", "footer", "github")'>
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="footer__built-with text-center"
         data-aos="fade-in"
         data-aos-delay="500"
         data-aos-duration="2500">
        <a href="https://v13.angular.io/docs"
           target="_blank"
           rel="nofollow noopener noreferrer"
           (click)='analyticsService.sendAnalyticEvent("click_github_portfolio", "footer", "click")'>
            Built with <img src="assets/images/angular-line.svg"
                            class="angular-logo"
                            width="18"
                            alt="Angular Logo" />
        </a>
    </div>
</footer>
