$directoriesToGoBack: '../../../';

@font-face {
    font-family: 'SF Mono';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: local('SF Mono'),
         url('#{$directoriesToGoBack}/assets/fonts/SFMono/SFMono-Regular.woff2') format('woff2'),
         url('#{$directoriesToGoBack}/assets/fonts/SFMono/SFMono-Regular.woff') format('woff');
}

@font-face {
    font-family: 'SF Mono';
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    src: local('SF Mono'),
         url('#{$directoriesToGoBack}/assets/fonts/SFMono/SFMono-RegularItalic.woff2') format('woff2'),
         url('#{$directoriesToGoBack}/assets/fonts/SFMono/SFMono-RegularItalic.woff') format('woff');
}

@font-face {
    font-family: 'SF Mono';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: local('SF Mono'),
         url('#{$directoriesToGoBack}/assets/fonts/SFMono/SFMono-Medium.woff2') format('woff2'),
         url('#{$directoriesToGoBack}/assets/fonts/SFMono/SFMono-Medium.woff') format('woff');
}

@font-face {
    font-family: 'SF Mono';
    font-weight: 500;
    font-style: italic;
    font-display: swap;
    src: local('SF Mono'),
         url('#{$directoriesToGoBack}/assets/fonts/SFMono/SFMono-MediumItalic.woff2') format('woff2'),
         url('#{$directoriesToGoBack}/assets/fonts/SFMono/SFMono-MediumItalic.woff') format('woff');
}

@font-face {
    font-family: 'SF Mono';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: local('SF Mono'),
         url('#{$directoriesToGoBack}/assets/fonts/SFMono/SFMono-Semibold.woff2') format('woff2'),
         url('#{$directoriesToGoBack}/assets/fonts/SFMono/SFMono-Semibold.woff') format('woff');
}

@font-face {
    font-family: 'SF Mono';
    font-weight: 600;
    font-style: italic;
    font-display: swap;
    src: local('SF Mono'),
         url('#{$directoriesToGoBack}/assets/fonts/SFMono/SFMono-SemiboldItalic.woff2') format('woff2'),
         url('#{$directoriesToGoBack}/assets/fonts/SFMono/SFMono-SemiboldItalic.woff') format('woff');
}
