<section class="jobs section"
         id="jobs"
         data-scroll-section>
    <div class="container">
        <div class="inner">
            <div class="about-title mb-5"
                 data-aos="fade-up"
                 data-aos-duration="1000">
                <h3 class="e-font section-title">
                    <span class="code-font n-section-title">02.</span> {{ "Experience.Title" | translate }}
                </h3>
            </div>
            <div class="jobs-tabs">
                <ul ngbNav #nav="ngbNav" [(activeId)]="active"
                    orientation="vertical"
                    class="nav-tabs jobs-tabs">
                    <li *ngFor='let job of "Experience.Jobs" | translate; let i = index'
                        [ngbNavItem]="i">
                        <a ngbNavLink
                           data-aos="fade-right"
                           data-aos-duration="1000"
                           [title]="job.Tab">{{ job.Tab }}</a>
                        <ng-template ngbNavContent>
                            <h4 class="job-title">{{ job.Title }}</h4>
                            <div class="job-additional">
                                <span class="job-additional-info">{{ job.Tab }}</span>
                                <span class="job-additional-info" *ngIf="job.Employment && job.Employment !== ''"> – {{ job.Employment }}</span>
                                <span class="job-additional-info" *ngIf="job.Location !== null"> – {{ job.Location }}</span>
                            </div>
                            <h5 class="job-time">{{ job.Date }}</h5>
                            <p class="job-description"
                               *ngFor='let jobDescriptionParagraph of job.Description; let i = index'
                               [innerHTML]="jobDescriptionParagraph | translate"></p>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>
        </div>
    </div>
</section>
