@import "./../../../../variables.scss";

.jobs {
    @include variant-background($dark: true);
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin: auto;

    .jobs-tabs {
        display: flex;

        .tab-content {
            margin-left: 38px;
        }

        ul {
            border: none;
            display: block;

            li {
                border-radius: 20px;
                margin-bottom: 5px;
                overflow: hidden;
            }
        }

        a {
            align-items: center;
            background-color: transparent;
            color: $slate;
            cursor: pointer;
            display: flex;
            font-size: 18px;
            height: 42px;
            line-height: 1;
            padding: 4px 20px 0;
            position: relative;
            text-align: left;
            text-decoration: none;
            text-decoration-skip-ink: auto;
            text-shadow: 1px 1px 1px $solidWhite;
            transition: all .25s cubic-bezier(.645, .045, .355, 1);
            white-space: nowrap;
            width: 100%;

            &.active,
            &:hover {
                color: $offWhite;
                border-color: transparent;
                border-radius: 0;
                text-shadow: 1px 1px 1px darken($globalTertiary, 10%);
            }

            &:hover {
                background-color: lighten($globalTertiary, 25%);
            }

            &.active {
                background-color: $globalTertiary;
            }
        }
    }

    .job-title {
        @include gradient-text($rtl: true);
        font-size: 22px;
        font-weight: $font-weight-medium;
        margin-bottom: 0;
    }

    .job-additional {
        margin-bottom: 8px;
    }

    .job-additional-info {
        color: $slate;
        font-size: 16px;
        font-weight: $font-weight-light;
        line-height: 22px;
    }

    .job-time {
        font-family: $fixedWidthFont;
        font-size: 12px;
        font-weight: normal;
        color: $globalSecondary;
        margin-bottom: 30px;
    }

    .job-description {
        font-size: 16px;
        font-weight: $font-weight-light;
        margin-bottom: 10px;
        padding-left: 30px;
        position: relative;

        &::before {
            color: $lightestNavy;
            content: '⛁';
            left: 0;
            position: absolute;
        }
    }
}

@media (max-width: 768px) {
    .jobs {
        .jobs-tabs {
            display: block;

            .tab-content {
                margin-left: 0;
            }

            ul {
                display: block;
                width: 100%;
                margin-bottom: 50px;
            }
        }
    }
}
@media (min-width: 768px) {
    .jobs {
        .section-box {
            min-height: 720px;
        }
    }
}
@media (min-width: 960px) {
    .jobs {
        .jobs-tabs {
            ul {
                min-width: 250px;
            }
        }
    }
}
