<section class="section contact">
    <div class="container" id="contact">
        <div class="section-box">
            <div class="mb-4"
                 data-aos="fade-up"
                 data-aos-duration="1000">
                <h3 class="contact-pre-title big-subtitle">
                    05. {{ "Contact.Pretitle" | translate }}
                </h3>
                <h4 class="contact-title e-font big-title">
                    {{ "Contact.Title" | translate }}
                </h4>
            </div>
            <p class="contact-content"
               data-aos="fade-up"
               data-aos-duration="1000">
                {{ "Contact.Content" | translate }}
            </p>
            <div class="mt-5">
                <a href="mailto:joey@jodriscoll.com"
                   class="main-btn"
                   target="_blank"
                   data-aos="fade-up"
                   data-aos-duration="1400"
                   (click)='analyticsService.sendAnalyticEvent("click_send_mail", "contact", "email")'>
                    {{ "Contact.Btn" | translate }}
                </a>
            </div>
        </div>
    </div>
</section>