<section class="outer contact"
         id="contact"
         data-scroll-section>
    <div class="container">
        <div class="inner">
            <div class="mb-4"
                 data-aos="fade-up"
                 data-aos-duration="1000">
                <h3 class="contact-pre-title big-subtitle">
                    05. {{ "Contact.Pretitle" | translate }}
                </h3>
                <h4 class="contact-title e-font big-title">{{ "Contact.Title" | translate }}</h4>
            </div>
            <p class="contact-content"
               data-aos="fade-up"
               data-aos-duration="1000"
               [innerHTML]='("Contact.Content" | translate)'></p>
            <div class="mt-5"
                 data-aos="fade-up"
                 data-aos-duration="1400">
                <a class="button"
                   target="_blank"
                   [href]='("Contact.Email" | translate | lowercase)'
                   [title]='"Send an email and " + ("Contact.Btn" | translate | lowercase)'
                   [innerHTML]='("Contact.Btn" | translate)'
                   (click)='analyticsService.sendAnalyticEvent("click_send_mail", "contact", "email")'></a>
            </div>
        </div>
    </div>
</section>
